body {
    /* border: 2px lightblue solid; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-self: center;
    flex-direction: column;
}

textarea {
    width : 800px;
    justify-content: center;
}

h1 {
    align-items: center;
    justify-content: center;
}