body > * {
  border : 2px black solid;
  border-radius: 15px;
  
}

body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  gap : 10px
}

header {
  grid-column: 1/3;
}
footer {
  grid-column: 1/3;
}